@import "../vendor/normalize.css/normalize.css";
@import "../vendor/fira/firasans.css";

$font: 'Fira Sans', sans-serif;
$font-size: 16px;
$line-height: 1.5;
$text-color: #4B4B4B;
$bg-color: #ffffff;

@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin rounded($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin inverse {
  background-color: $text-color;
  color: $bg-color;
}

@mixin standard_button {
  font-size: $font-size * 0.9;
  line-height: 1;
  padding: 0.4em 0.8em;

  cursor: pointer;

  border: 1px solid $bg-color;
  color: $bg-color;
  background: $text-color;
  transition: all 0.3s;

  &:active, &:hover, &:focus {
    color: $text-color;
    background: $bg-color;
  }
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font: #{$font-size}/#{$line-height} $font;
  color: $text-color;
  margin: 0;
}

.link, a {
  @include standard_button;
  display: inline-block;
  text-decoration: none;
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

.content {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

h1 {
  margin: {
    top: 0;
    bottom: 1em;
  }
  font-size: $font-size * 2;
}

p {
  margin: {
    top: 0;
    bottom: 1em;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

.isolated {
  margin: 1em;
}

.not_very_isolated {
  margin: 0.5em;
}

.hidden {
  display: none;
}

.full_width {
  width: 100%;
}

button, input[type="submit"], input[type="button"] {
  @include standard_button;
}

input[type="text"], textarea {
  @include rounded(2px);
  border: 1px solid rgb(230, 230, 230);
  background: white;
  padding: 3px;
}

.select {
  @include rounded(2px);
  border: 1px solid rgb(230, 230, 230);
  padding: 0.5em;
  box-sizing: content-box;
  line-height: 1.5em;
  max-height: 7.5em;
  overflow: auto;

  li {
    cursor: pointer;
  }
}

.menu {
  @include inverse;

  // Yes, I know that grid is not needed here. It is for future.
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;

  header, footer, nav {
    padding: 3em;
  }

  header, footer {
    grid-column: 1 / span 2;
  }

  nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 0.5em;
      }
    }
  }

  header h1 {
    margin: 0;
    font-size: 72px;
  }
}
