@import 'main';

.page {
  flex-direction: column;
  > div {
    flex-grow: 0;
  }
}

#text {
  width: 50%;
  margin: 2em auto;
}

#area {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 15em;
  flex-grow: 1;
}

#area #field {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  display: grid;
  box-sizing: border-box;

  svg {
    margin: auto;
  }
}

.hud {
  @include shadow(2px 2px 10px 0 rgba(50, 50, 50, 0.3));

  grid-column: 2;
  padding: 3px 6px;
  background-color: rgb(250, 250, 250);

  .info_list {
    display: table;

    p {
      display: table-row;
      margin: 0;

      span {
        padding-right: 1em;
        display: table-cell;
      }

      :last-child {
        padding-right: 0;
      }
    }
  }
}

#popup_container {
  grid-column: 1;
  grid-row: 1;

  & > .corners {
    height: 100%;
    width: 100%;
    display: table;
    visibility: hidden;

    & > div {
      display: table-row;
      height: 50%;

      & > div {
        display: flex;
        width: 50%;
        height: 100%;
        padding: 0.5em;
        box-sizing: border-box;

        &.left {
          align-items: flex-start;
        }

        &.right {
          align-items: flex-end;
        }
      }

      &.top > div {
        flex-direction: column;
      }

      &.bottom > div {
        flex-direction: column-reverse;
      }
    }

    .message {
      max-width: 50%;
      visibility: visible;
      margin: 0.5em;
    }
  }
}

.blocking_panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.message {
  @include shadow(2px 2px 3px 2px rgba(0, 0, 0, 0.1));
  @include rounded(3px);

  position: relative;
  z-index: 10;
  padding: 1em;
  background: white;
  overflow: hidden;
  box-sizing: content-box;

  .message_content {
    width: 100%;
  }

  .close {
    display: inline-block;
    float: right;
    line-height: 1;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: -1em;
    margin-right: -1em;

    &:before {
      cursor: pointer;
      display: inline-block;
      content: '×';
    }
  }
}
